h1{
    color: blueviolet;
 }
 
 body {
     background-color:coral;
     
 }
 
 .content,
 button {
     margin-left: auto;
     margin-right: auto;
     display: block;
     padding: 10px;
     border-radius: 20px;
     margin-top: 30px;
 }
 
 button {
     padding: 20px 15px;
     background-color: rgb(218, 81, 202);
     border: 3px solid #238951;
     font-size: 16px;
     font-family: monospace;
     color: #164535;
     line-height: 1;
     border-radius: 10px;
     outline: none;
     cursor: pointer;
     margin: auto;
     border-radius: 5px;
     display: block;
     margin-bottom: 40px;
 }